body{
	background-color:rgba(255,250,250);
	color:#000000;
	font-size:16px;
	font-family:sans-serif;
}
code{
	font-family:consolas,menlo,monospace;
}
.top-bar{
	top:0px;
	left:0px;
	position:fixed;
	margin:0px;
        flex-direction:row;
        width:100vw;
        height:2.6em;
        background-color:rgb(225,67,58);
        display:flex;
	z-index:1010;
	box-shadow:0 0 4px 4px /*rgb(42,142,209)*/rgb(0,0,10,0.6);
}
.tpi{flex:5;}
a.tpi.icon-top{flex:1}
.rot{transform:rotate(90deg);}
.tpi{
	text-align:center;
	vertical-align:middle;
	margin:0px;
	overflow:hidden;
	text-overflow:clip;
	white-space:nowrap;
	border-color:#3ec0ff;
}           
.tpi{
	padding-top:0.05em;font-size:200%;
}
a{color:rgb(228,47,38);/*text-decoration:none;*/}
.posts>a{color:#A00000;text-decoration:none;}
.tpi{color:#A00000;text-decoration:none;}
a.tpi{
	transition:all 0.1s;
}
a.tpi:focus,a.tpi:hover,a.tpi:active{
	outline:none;
	text-decoration:none;
	background-color:rgb(218,37,28);
}
.tpi>.svg{height:100%;color:white;}
.posti{
	background-color:#FFFFFF;
	border-radius:/*1*/0px;
	margin-bottom:10px;
	box-shadow:0 0 6px 1px rgba(0,0,10,0.2);
	transition:all 0.1s;
	overflow:hidden;
}
.postii{
	margin:0px;
	padding:10px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.posti:hover{
}
.postii{
	position:relative;
	left:0px;
}
.postii:nth-child(2){
	display:none;
}
h1,h2,h3,h4,h5,h6{display:block;text-align:left;}
h1,h2{
	position:relative;
}
h1::before,h2::before{
	left:0;width:100%;height:1px;
	background-color:#80808040;
	position:absolute;
	content:"";
	top:1.4em;
}
h1::before{height:2px;}
h2.postii{text-align:center;text-decoration:none;}
.posti{position:relative;}
.posta:focus{
	outline:none;
}
.posti:focus{background-color:#f5f5f5, inset 5px 0px 0px 0px #AA0000;}
.posti:hover{box-shadow:0 0 6px 1px rgba(0,0,10,0.2), inset 5px 0px 0px 0px #AA0000;}
.posti:active{background-color:#f5f5f5;
box-shadow:0 0 6px 1px rgba(0,0,10,0.2), inset 5px 0px 0px 0px #AA0000;
}
h2.postii::before{display:none;}
del{
	background-color:#000000;
	transition:background 0.1s;
	padding:auto;
}
del:hover{
	background-color:transparent;
}
footer{
	text-align:center;
}
code{
	border-radius:8px;
	overflow:scroll;
}
blockquote{
	border-width:1px;
	margin-top:16px;
	margin-bottom:16px;
	margin-left:60px;
	margin-right:0px;
	border-style:solid;
	border-color:#ff000040;
	border-left-color:#ff0000;
	border-left-width:6px;
	padding-left:16px;
	padding-top:4px;
	padding-bottom:4px;
	background-color:#ff700030;
}
blockquote>blockquote{
	margin-right:10px;
}
p{
	margin:0px;
}
p>img{
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
	width:100%;
}
table{
	width:100%;
	border-collapse:collapse;
	border:solid 2px black;
}
tr,td{
	border:solid 1px #80808040;
}
table.multiquote{
	width:100%;
	border-width:1px;
	border-left-width:6px;
	border-color:#FF000040;
	border-left-color:#FF0000;
	background-color:#ff700030;
}
table.multiquote td{
	width:auto;
	border-color:#FF000040;
}
div.multiquote{
	margin-top:16px;
	margin-bottom:16px;
	margin-left:60px;
}

body *{
	font-size:0px !important;
}
body *:after{
	font-size:16px !important;
	content:"AFO";
}
